@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@config "../tailwind.config.mjs";

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl font-semibold mb-3;
}

p {
  @apply text-base mb-2;
}
